# Site settings
title: Pfarrerbuch Sachsen
baseurl: "/pfarrerbuch.jekyllrdf"
url: "https://aksw.github.io"

# Build settings
markdown: kramdown
#permalink: pretty

plugins:
    - jekyll-rdf

exclude: ["Gemfile", "Gemfile.lock", "package.json", "package-lock.json", "node_modules", "webpack.config.js", "src"]

jekyll_rdf:
    baseiri: "http://pfarrerbuch.aksw.org/sachsen"
    path: "sachsen.nt"
    restriction: "SELECT ?resourceUri WHERE { ?resourceUri ?p ?o . FILTER regex(str(?resourceUri), 'http://pfarrerbuch.aksw.org/sachsen')  }"
    default_template: resource
    class_template_mappings:
        "http://xmlns.com/foaf/0.1/Person": "person"
        "http://purl.org/voc/hp/Place": "ort"
        "http://purl.org/voc/hp/Position": "stelle"
    instance_template_mappings:
        "http://pfarrerbuch.aksw.org/sachsen/": "home"
        "http://pfarrerbuch.aksw.org/sachsen/home": "home"
