# Site settings
title: Pfarrerbuch Sachsen
baseurl: "/sachsen"
url: "http://pfarrerbuch.aksw.org"

# Build settings
markdown: kramdown
#permalink: pretty

plugins:
    - jekyll-rdf

jekyll_rdf:
    path: "_data/sachsen.ttl"
    restriction: "SELECT ?resourceUri WHERE { ?resourceUri ?p ?o . FILTER regex(str(?resourceUri), 'http://pfarrerbuch.aksw.org/sachsen')  }"
    default_template: resource
    class_template_mappings:
        "http://xmlns.com/foaf/0.1/Person": "person"
        "http://purl.org/voc/hp/Place": "ort"
        "http://purl.org/voc/hp/Position": "stelle"
    instance_template_mappings:
        "http://pfarrerbuch.aksw.org/sachsen/": "home"
        "http://pfarrerbuch.aksw.org/sachsen/home": "home"
