---
layout: default
rdf_prefix_path: _data/prefixes.sparql
---

<div>
  <strong>Bemerkung:</strong>
  Die aktuell verfügbare Ansicht ist lediglich ein Ausschnitt unserer Datenbank und dient zu Demonstrationszwecken.
</div>

<div class="card">
  <div class="card-header">{{ "<http://pfarrerbuch.aksw.org/About>" | rdf_property: "rdfs:label", "de" }}</div>
  <div class="card-body">
  {{ "<http://pfarrerbuch.aksw.org/About>" | rdf_property: "site:content" | markdownify }}
  </div>
</div>

{% assign results = nil | sparql_query: "select ?person {?person a foaf:Person}" %}


<h2>Orte</h2>
<div>
{% capture placeQuery %}
select ?ort ?label {
  ?ort a hp:Place ;
       rdfs:label ?label
}
{% endcapture %}
{% assign places = page.rdf | sparql_query: placeQuery %}
<ul>
{% for placeResult in places %}
{% assign ort = placeResult.ort %}
{% assign ortsname = placeResult.label %}
<li>
<a class="page-link" href="{{ ort.render_path | prepend: site.baseurl }}">{{ ortsname }}</a>
</li>
{% endfor %}
</ul>

<h2>Personen</h2>
<ul>
    {% for result in results %}
      <li><a class="page-link" href="{{ result.person.render_path | prepend: site.baseurl }}">{{ result.person | rdf_property: "rdfs:label" }}</a></li>
    {% endfor %}
</ul>
